<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h2>Register</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstName">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">username is required</div>
                    </div>
                   
                </div>
               
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors">email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Role:</label>
                    <input type="text"  class="form-control"  formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }" />
                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                        <div *ngIf="f.role.errors.required">Role is required</div>
                    </div>
                </div>
             <div class="form-group">
                    <label for="lastName">Mobileno</label>
                    <input type="text" formControlName="mobileno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileno.errors }" />
                    <div *ngIf="submitted && f.mobileno.errors" class="invalid-feedback">
                        <div *ngIf="f.mobileno.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="!registerForm.valid" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
<div class="jumbotron">
<div class="container">
        <p>Tell us a little details about your self to personalize your profile</p>
    <div class="row">
        <div class="card">
    
                <h5 style="color: coral;">WHERE ARE YOU IN YOUR CAREER ?</h5>
                <div class="card-body">
                    <div class="row">
                       <div class="col-6  text-center">
                        <a routerLink="/fresher"> <div class="card"   style="width: 25rem;">
                                        <div class="card-body abc">
                                                <i class="fa fa-graduation-cap fa-5x"></i>
                                                <h4 class="card-text">I am a fresher</h4>
                                                <p>student or never worked</p>
                                        </div>
                                      </div></a>
                        </div>
                        <div class="col-6 text-center">
                            <a routerLink="/profession"> <div class="card" style="width: 25rem;">
                                        <div class="card-body abc">
                                                <i class="fa fa-briefcase fa-5x"></i>
                                          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                          <h4 class="card-text">I am a professional</h4>
                                         <p>I am a professional</p>
                                        </div>
                                      </div></a>
                        </div>
                    </div>
                     
                </div>
                <h5 class="mt-3">WHAT HAPPENS ONCE YOU COMPLETE THE REGISTRATION?</h5>
                <p>* Become searchable on Monster to the get the best job opportunities matching your profile</p>
                <p>  * Create custom job alerts to never miss the job you are looking for</p>
                        <p>   * Find Better Jobs Faster with 1 click apply</p>
                                <p>   * Get best jobs matching your profile in your inbox</p>
                                        <p>   * Apply to multiple jobs in one go (5 for fresher & 10 for experienced)</p>
                                                <p> * Get connected with 20K+ recruiters</p>
                                                        <p><strong>* Pro Tip:</strong> Recruiters prefer candidates with updated resume, make sure yours stand out!</p>
              </div>
    </div>
</div>
</div>
<a href="#" id="jobs">jobs by location :</a> jobs in Bangalore | jobs in Delhi | jobs in Hydrabad<br>
<a href="#" id="jobs">jobs by skill-it:</a> jobs in Bangalore | jobs in Delhi | jobs in Hydrabad<br>
<a href="#" id="jobs">jobs by skill-nonit :</a> jobs in Bangalore | jobs in Delhi | jobs in Hydrabad<br>
<a href="#" id="jobs">jobs by Role :</a> jobs in Bangalore | jobs in Delhi | jobs in Hydrabad 

